In [7]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np

In [8]:
BB=pd.read_csv('baseball_stats.csv')
W=pd.read_csv('Denver_Weather.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (14,72) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
BB[BB.Home=='COL']

,Date,Day of Week,Visitor,Visitor Division,Home,Home Division,Visitor Score,Home Score,Game Length (outs),Day or Night,...,Home Earned Runs (Team),Home Wild Pitches,Home Balks,Home Outs,Home Assists,Home Errors,Home Passed Balls,Home Double Plays,Home Triple Plays,Acquisition Info
51,4/10/2009,Fri,PHI,NL,COL,NL,3,10,51,D,...,3,1,0,27,15,1,0,3,0,Y
66,4/11/2009,Sat,PHI,NL,COL,NL,8,4,54,N,...,8,0,0,27,6,0,0,0,0,Y
81,4/12/2009,Sun,PHI,NL,COL,NL,7,5,54,D,...,7,0,0,27,13,0,0,3,0,Y
229,4/24/2009,Fri,LAN,NL,COL,NL,6,5,54,N,...,6,1,0,27,12,0,0,2,0,Y
244,4/25/2009,Sat,LAN,NL,COL,NL,6,5,54,N,...,6,0,0,27,6,0,0,0,0,Y
259,4/26/2009,Sun,LAN,NL,COL,NL,4,10,51,D,...,4,0,0,27,9,1,0,1,0,Y
275,4/27/2009,Mon,SDN,NL,COL,NL,7,12,51,N,...,6,0,0,27,8,1,0,1,0,Y
288,4/28/2009,Tue,SDN,NL,COL,NL,4,3,54,N,...,4,0,0,27,14,1,0,0,0,Y
304,4/29/2009,Wed,SDN,NL,COL,NL,5,7,51,D,...,5,0,0,27,12,0,0,1,0,Y
396,5/6/2009,Wed,SFN,NL,COL,NL,1,11,51,N,...,1,1,0,27,10,0,0,1,0,Y
410,5/7/2009,Thu,SFN,NL,COL,NL,8,3,54,D,...,5,0,0,27,15,3,0,0,0,Y
426,5/8/2009,Fri,FLO,NL,COL,NL,8,3,54,N,...,8,1,0,27,12,0,0,0,0,Y
441,5/9/2009,Sat,FLO,NL,COL,NL,3,1,54,N,...,3,0,0,27,8,1,0,0,0,Y
456,5/10/2009,Sun,FLO,NL,COL,NL,2,3,51,D,...,1,0,0,27,15,1,0,0,0,Y
475,5/12/2009,Tue,HOU,NL,COL,NL,1,12,51,N,...,1,1,0,27,13,0,0,0,0,Y
490,5/13/2009,Wed,HOU,NL,COL,NL,15,11,54,N,...,15,0,0,27,8,0,0,0,0,Y
504,5/14/2009,Thu,HOU,NL,COL,NL,5,3,54,D,...,2,0,0,27,11,3,0,1,0,Y
659,5/25/2009,Mon,LAN,NL,COL,NL,16,6,54,D,...,16,1,0,27,10,1,0,0,0,Y
674,5/26/2009,Tue,LAN,NL,COL,NL,7,1,54,N,...,6,0,0,27,17,1,0,1,0,Y
689,5/27/2009,Wed,LAN,NL,COL,NL,8,6,54,D,...,7,0,0,27,17,1,0,3,0,Y
708,5/29/2009,Fri,SDN,NL,COL,NL,0,3,51,N,...,0,0,0,27,18,0,0,2,0,Y
724,5/30/2009,Sat,SDN,NL,COL,NL,7,8,53,N,...,6,1,0,27,11,1,0,1,0,Y
739,5/31/2009,Sun,SDN,NL,COL,NL,5,2,54,D,...,5,0,0,27,10,0,0,0,0,Y
900,6/12/2009,Fri,SEA,AL,COL,NL,4,6,51,N,...,4,0,0,27,17,0,0,2,0,Y
915,6/13/2009,Sat,SEA,AL,COL,NL,3,5,51,N,...,3,2,0,27,15,0,0,1,0,Y
930,6/14/2009,Sun,SEA,AL,COL,NL,1,7,51,D,...,1,0,0,27,9,0,0,1,0,Y
946,6/16/2009,Tue,TBA,AL,COL,NL,12,4,54,N,...,12,0,0,27,8,0,0,0,0,Y
961,6/17/2009,Wed,TBA,AL,COL,NL,3,5,51,N,...,3,0,0,27,15,2,0,1,0,Y
976,6/18/2009,Thu,TBA,AL,COL,NL,3,4,51,D,...,3,0,0,27,4,2,0,0,0,Y
989,6/19/2009,Fri,PIT,NL,COL,NL,3,7,51,N,...,3,0,0,27,19,0,0,0,0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23545,8/6/2018,Mon,PIT,NL,COL,NL,0,2,51,N,...,0,0,0,27,10,0,0,1,0,NaN
23555,8/7/2018,Tue,PIT,NL,COL,NL,10,2,54,N,...,10,0,0,27,11,1,0,0,0,NaN
23571,8/8/2018,Wed,PIT,NL,COL,NL,4,3,54,D,...,3,0,0,27,12,2,0,0,0,NaN
23584,8/9/2018,Thu,LAN,NL,COL,NL,8,5,54,N,...,8,1,0,27,7,1,0,0,0,NaN
23596,8/10/2018,Fri,LAN,NL,COL,NL,4,5,51,N,...,4,1,0,27,14,0,0,1,0,NaN
23611,8/11/2018,Sat,LAN,NL,COL,NL,2,3,53,N,...,2,0,0,27,10,0,0,1,0,NaN
23627,8/12/2018,Sun,LAN,NL,COL,NL,3,4,53,D,...,3,0,0,27,9,0,0,1,0,NaN
23745,8/21/2018,Tue,SDN,NL,COL,NL,4,3,54,N,...,4,0,0,27,7,1,1,0,0,NaN
23760,8/22/2018,Wed,SDN,NL,COL,NL,2,6,51,N,...,2,0,0,27,8,0,0,0,0,NaN
23775,8/23/2018,Thu,SDN,NL,COL,NL,3,4,53,D,...,2,0,0,27,14,1,0,2,0,NaN
23785,8/24/2018,Fri,SLN,NL,COL,NL,7,5,54,N,...,7,0,0,27,11,1,1,0,0,NaN
23800,8/25/2018,Sat,SLN,NL,COL,NL,1,9,51,N,...,1,1,0,27,9,0,0,1,0,NaN
23816,8/26/2018,Sun,SLN,NL,COL,NL,12,3,54,D,...,8,1,0,27,14,2,0,1,0,NaN
23922,9/3/2018,Mon,SFN,NL,COL,NL,8,9,51,D,...,8,1,0,27,8,2,0,0,0,NaN
23937,9/4/2018,Tue,SFN,NL,COL,NL,2,6,51,N,...,2,0,0,27,9,0,0,1,0,NaN
23951,9/5/2018,Wed,SFN,NL,COL,NL,3,5,51,N,...,3,0,0,27,8,0,0,1,0,NaN
23970,9/7/2018,Fri,LAN,NL,COL,NL,4,2,54,N,...,2,0,1,27,13,1,0,2,0,NaN
23984,9/8/2018,Sat,LAN,NL,COL,NL,2,4,51,N,...,2,0,0,27,9,0,0,1,0,NaN
24000,9/9/2018,Sun,LAN,NL,COL,NL,9,6,54,D,...,8,2,0,27,8,1,0,0,0,NaN
24013,9/10/2018,Mon,ARI,NL,COL,NL,2,13,51,N,...,1,0,0,27,10,1,0,1,0,NaN
24023,9/11/2018,Tue,ARI,NL,COL,NL,6,3,54,N,...,6,0,0,27,12,0,0,2,0,NaN
24039,9/12/2018,Wed,ARI,NL,COL,NL,4,5,52,N,...,4,0,0,27,8,0,0,1,0,NaN
24052,9/13/2018,Thu,ARI,NL,COL,NL,3,10,51,D,...,3,0,0,27,14,1,0,3,0,NaN
24202,9/24/2018,Mon,PHI,NL,COL,NL,1,10,51,N,...,1,0,0,27,12,0,0,2,0,NaN
24215,9/25/2018,Tue,PHI,NL,COL,NL,3,10,51,N,...,2,1,0,27,12,2,0,2,0,NaN
24229,9/26/2018,Wed,PHI,NL,COL,NL,0,14,51,N,...,0,0,0,27,11,1,0,1,0,NaN
24243,9/27/2018,Thu,PHI,NL,COL,NL,3,5,51,D,...,3,0,0,27,5,0,0,0,0,NaN
24251,9/28/2018,Fri,WAS,NL,COL,NL,2,5,51,N,...,2,0,0,27,9,0,0,1,0,NaN
24267,9/29/2018,Sat,WAS,NL,COL,NL,12,2,54,N,...,12,0,0,27,14,1,0,2,0,NaN
24283,9/30/2018,Sun,WAS,NL,COL,NL,0,12,51,D,...,0,0,0,27,12,0,0,3,0,NaN

In [10]:
COL=BB.loc[BB.Home=='COL']
list(COL.columns)
COL

['Date',
 'Day of Week',
 'Visitor',
 'Visitor Division',
 'Home',
 'Home Division',
 'Visitor Score',
 'Home Score',
 'Game Length (outs)',
 'Day or Night',
 'If Completed at Later Date',
 'Stadium ID',
 'Attendance',
 'Game Length (minutes)',
 'Visitor Runs (by inning)',
 'Home Runs (by inning)',
 'Visitor At-Bats',
 'Visitor Hits',
 'Visitor Doubles',
 'Visitor Triples',
 'Visitor Homeruns',
 'Visitor RBIs',
 'Visitor Sacrifice Hits',
 'Visitor Sacrifice Flies',
 'Visitor HBP',
 'Visitor Walks',
 'Visitor Walks (intentional)',
 'Visitor Strikeouts',
 'Visitor Stolen Bases',
 'Visitor Caught Stealing',
 'Visitor Ground into Double Play',
 'Visitor Awarded First (interference)',
 'Visitor Left on Base',
 'Visitor Pitchers Used',
 'Visitor Earned Runs (individual)',
 'Visitor Earned Runs (team)',
 'Visitor Wild Pitch',
 'Visitor Balks',
 'Visitor Outs',
 'Visitor Assists',
 'Visitor Errors',
 'Visitor Passed Balls',
 'Visitor Double Plays',
 'Visitor Triple Plays',
 'Home At-Bats',
 'Home Hits',
 'Home Doubles',
 'Home Triples',
 'Home Homeruns',
 'Home RBIs',
 'Home Sacrifice Hits',
 'Home Sacrifice Flies',
 'Home Hit by Pitch',
 'Home Walks',
 'Home Walks (intentional)',
 'Home Strikeouts',
 'Home Stolen Bases',
 'Home Caught Stealing',
 'Home Grounded into Double Play',
 'Home Awarded First (interference)',
 'Home Left on Base',
 'Home Pitchers Used',
 'Home Earned Runs (individual)',
 'Home Earned Runs (Team)',
 'Home Wild Pitches',
 'Home Balks',
 'Home Outs',
 'Home Assists',
 'Home Errors',
 'Home Passed Balls',
 'Home Double Plays',
 'Home Triple Plays',
 'Acquisition Info']

,Date,Day of Week,Visitor,Visitor Division,Home,Home Division,Visitor Score,Home Score,Game Length (outs),Day or Night,...,Home Earned Runs (Team),Home Wild Pitches,Home Balks,Home Outs,Home Assists,Home Errors,Home Passed Balls,Home Double Plays,Home Triple Plays,Acquisition Info
51,4/10/2009,Fri,PHI,NL,COL,NL,3,10,51,D,...,3,1,0,27,15,1,0,3,0,Y
66,4/11/2009,Sat,PHI,NL,COL,NL,8,4,54,N,...,8,0,0,27,6,0,0,0,0,Y
81,4/12/2009,Sun,PHI,NL,COL,NL,7,5,54,D,...,7,0,0,27,13,0,0,3,0,Y
229,4/24/2009,Fri,LAN,NL,COL,NL,6,5,54,N,...,6,1,0,27,12,0,0,2,0,Y
244,4/25/2009,Sat,LAN,NL,COL,NL,6,5,54,N,...,6,0,0,27,6,0,0,0,0,Y
259,4/26/2009,Sun,LAN,NL,COL,NL,4,10,51,D,...,4,0,0,27,9,1,0,1,0,Y
275,4/27/2009,Mon,SDN,NL,COL,NL,7,12,51,N,...,6,0,0,27,8,1,0,1,0,Y
288,4/28/2009,Tue,SDN,NL,COL,NL,4,3,54,N,...,4,0,0,27,14,1,0,0,0,Y
304,4/29/2009,Wed,SDN,NL,COL,NL,5,7,51,D,...,5,0,0,27,12,0,0,1,0,Y
396,5/6/2009,Wed,SFN,NL,COL,NL,1,11,51,N,...,1,1,0,27,10,0,0,1,0,Y
410,5/7/2009,Thu,SFN,NL,COL,NL,8,3,54,D,...,5,0,0,27,15,3,0,0,0,Y
426,5/8/2009,Fri,FLO,NL,COL,NL,8,3,54,N,...,8,1,0,27,12,0,0,0,0,Y
441,5/9/2009,Sat,FLO,NL,COL,NL,3,1,54,N,...,3,0,0,27,8,1,0,0,0,Y
456,5/10/2009,Sun,FLO,NL,COL,NL,2,3,51,D,...,1,0,0,27,15,1,0,0,0,Y
475,5/12/2009,Tue,HOU,NL,COL,NL,1,12,51,N,...,1,1,0,27,13,0,0,0,0,Y
490,5/13/2009,Wed,HOU,NL,COL,NL,15,11,54,N,...,15,0,0,27,8,0,0,0,0,Y
504,5/14/2009,Thu,HOU,NL,COL,NL,5,3,54,D,...,2,0,0,27,11,3,0,1,0,Y
659,5/25/2009,Mon,LAN,NL,COL,NL,16,6,54,D,...,16,1,0,27,10,1,0,0,0,Y
674,5/26/2009,Tue,LAN,NL,COL,NL,7,1,54,N,...,6,0,0,27,17,1,0,1,0,Y
689,5/27/2009,Wed,LAN,NL,COL,NL,8,6,54,D,...,7,0,0,27,17,1,0,3,0,Y
708,5/29/2009,Fri,SDN,NL,COL,NL,0,3,51,N,...,0,0,0,27,18,0,0,2,0,Y
724,5/30/2009,Sat,SDN,NL,COL,NL,7,8,53,N,...,6,1,0,27,11,1,0,1,0,Y
739,5/31/2009,Sun,SDN,NL,COL,NL,5,2,54,D,...,5,0,0,27,10,0,0,0,0,Y
900,6/12/2009,Fri,SEA,AL,COL,NL,4,6,51,N,...,4,0,0,27,17,0,0,2,0,Y
915,6/13/2009,Sat,SEA,AL,COL,NL,3,5,51,N,...,3,2,0,27,15,0,0,1,0,Y
930,6/14/2009,Sun,SEA,AL,COL,NL,1,7,51,D,...,1,0,0,27,9,0,0,1,0,Y
946,6/16/2009,Tue,TBA,AL,COL,NL,12,4,54,N,...,12,0,0,27,8,0,0,0,0,Y
961,6/17/2009,Wed,TBA,AL,COL,NL,3,5,51,N,...,3,0,0,27,15,2,0,1,0,Y
976,6/18/2009,Thu,TBA,AL,COL,NL,3,4,51,D,...,3,0,0,27,4,2,0,0,0,Y
989,6/19/2009,Fri,PIT,NL,COL,NL,3,7,51,N,...,3,0,0,27,19,0,0,0,0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23545,8/6/2018,Mon,PIT,NL,COL,NL,0,2,51,N,...,0,0,0,27,10,0,0,1,0,NaN
23555,8/7/2018,Tue,PIT,NL,COL,NL,10,2,54,N,...,10,0,0,27,11,1,0,0,0,NaN
23571,8/8/2018,Wed,PIT,NL,COL,NL,4,3,54,D,...,3,0,0,27,12,2,0,0,0,NaN
23584,8/9/2018,Thu,LAN,NL,COL,NL,8,5,54,N,...,8,1,0,27,7,1,0,0,0,NaN
23596,8/10/2018,Fri,LAN,NL,COL,NL,4,5,51,N,...,4,1,0,27,14,0,0,1,0,NaN
23611,8/11/2018,Sat,LAN,NL,COL,NL,2,3,53,N,...,2,0,0,27,10,0,0,1,0,NaN
23627,8/12/2018,Sun,LAN,NL,COL,NL,3,4,53,D,...,3,0,0,27,9,0,0,1,0,NaN
23745,8/21/2018,Tue,SDN,NL,COL,NL,4,3,54,N,...,4,0,0,27,7,1,1,0,0,NaN
23760,8/22/2018,Wed,SDN,NL,COL,NL,2,6,51,N,...,2,0,0,27,8,0,0,0,0,NaN
23775,8/23/2018,Thu,SDN,NL,COL,NL,3,4,53,D,...,2,0,0,27,14,1,0,2,0,NaN
23785,8/24/2018,Fri,SLN,NL,COL,NL,7,5,54,N,...,7,0,0,27,11,1,1,0,0,NaN
23800,8/25/2018,Sat,SLN,NL,COL,NL,1,9,51,N,...,1,1,0,27,9,0,0,1,0,NaN
23816,8/26/2018,Sun,SLN,NL,COL,NL,12,3,54,D,...,8,1,0,27,14,2,0,1,0,NaN
23922,9/3/2018,Mon,SFN,NL,COL,NL,8,9,51,D,...,8,1,0,27,8,2,0,0,0,NaN
23937,9/4/2018,Tue,SFN,NL,COL,NL,2,6,51,N,...,2,0,0,27,9,0,0,1,0,NaN
23951,9/5/2018,Wed,SFN,NL,COL,NL,3,5,51,N,...,3,0,0,27,8,0,0,1,0,NaN
23970,9/7/2018,Fri,LAN,NL,COL,NL,4,2,54,N,...,2,0,1,27,13,1,0,2,0,NaN
23984,9/8/2018,Sat,LAN,NL,COL,NL,2,4,51,N,...,2,0,0,27,9,0,0,1,0,NaN
24000,9/9/2018,Sun,LAN,NL,COL,NL,9,6,54,D,...,8,2,0,27,8,1,0,0,0,NaN
24013,9/10/2018,Mon,ARI,NL,COL,NL,2,13,51,N,...,1,0,0,27,10,1,0,1,0,NaN
24023,9/11/2018,Tue,ARI,NL,COL,NL,6,3,54,N,...,6,0,0,27,12,0,0,2,0,NaN
24039,9/12/2018,Wed,ARI,NL,COL,NL,4,5,52,N,...,4,0,0,27,8,0,0,1,0,NaN
24052,9/13/2018,Thu,ARI,NL,COL,NL,3,10,51,D,...,3,0,0,27,14,1,0,3,0,NaN
24202,9/24/2018,Mon,PHI,NL,COL,NL,1,10,51,N,...,1,0,0,27,12,0,0,2,0,NaN
24215,9/25/2018,Tue,PHI,NL,COL,NL,3,10,51,N,...,2,1,0,27,12,2,0,2,0,NaN
24229,9/26/2018,Wed,PHI,NL,COL,NL,0,14,51,N,...,0,0,0,27,11,1,0,1,0,NaN
24243,9/27/2018,Thu,PHI,NL,COL,NL,3,5,51,D,...,3,0,0,27,5,0,0,0,0,NaN
24251,9/28/2018,Fri,WAS,NL,COL,NL,2,5,51,N,...,2,0,0,27,9,0,0,1,0,NaN
24267,9/29/2018,Sat,WAS,NL,COL,NL,12,2,54,N,...,12,0,0,27,14,1,0,2,0,NaN
24283,9/30/2018,Sun,WAS,NL,COL,NL,0,12,51,D,...,0,0,0,27,12,0,0,3,0,NaN

In [11]:

W.columns=['ObsDate',
 'ActHigh',
 'ActLow',
 'ActAvg',
 'NormHigh',
 'NormLow',
 'NormAvg.',
 'NormDept',
 'RecHigh',
 'RecYear',
 'RecLow',
 'RecYear1',
 'PrecipAmt',
 'SnowAmt',
 'SnowGround',
 'HeatDegDay',
 'CoolDegDay',
 'Unnamed: 17']

In [12]:
W.ObsDate = pd.to_datetime(W.ObsDate)
COL.Date = pd.to_datetime(COL.Date)

/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [13]:
W.ObsDate.head()
COL.Date.head()

0   2009-04-01
1   2009-04-02
2   2009-04-03
3   2009-04-04
4   2009-04-05
Name: ObsDate, dtype: datetime64[ns]

51    2009-04-10
66    2009-04-11
81    2009-04-12
229   2009-04-24
244   2009-04-25
Name: Date, dtype: datetime64[ns]

In [14]:
month=W.ObsDate.astype('datetime64[M]')

In [15]:
W['Month']=W.ObsDate.astype('datetime64[M]')
COL['Month']=COL.Date.astype('datetime64[M]')

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
W.head()
COL.head()
W.drop('NormHigh',axis=1,inplace=True)
W.drop('NormLow',axis=1,inplace=True)
W.drop('RecHigh',axis=1,inplace=True)
W.drop('RecYear',axis=1,inplace=True)
W.drop('RecLow',axis=1,inplace=True)
W.drop('RecYear1',axis=1,inplace=True)
W.drop('SnowGround',axis=1,inplace=True)
W.drop('HeatDegDay',axis=1,inplace=True)
W.drop('CoolDegDay',axis=1,inplace=True)

,ObsDate,ActHigh,ActLow,ActAvg,NormHigh,NormLow,NormAvg.,NormDept,RecHigh,RecYear,RecLow,RecYear1,PrecipAmt,SnowAmt,SnowGround,HeatDegDay,CoolDegDay,Unnamed: 17,Month
0,2009-04-01,46,23,35,61,32,46,-11,M,M,M,M,0.17,0.7,4.0,30,0,NaN,2009-04-01
1,2009-04-02,55,19,37,61,32,46,-9,M,M,M,M,0.1,0.0,3.0,28,0,NaN,2009-04-01
2,2009-04-03,55,32,44,61,32,47,-3,M,M,M,M,0.3,0.4,3.0,21,0,NaN,2009-04-01
3,2009-04-04,32,19,26,61,32,47,-21,M,M,M,M,0.4,1.8,4.0,39,0,NaN,2009-04-01
4,2009-04-05,34,18,26,62,32,47,-21,M,M,M,M,0.04,0.4,5.0,39,0,NaN,2009-04-01

,Date,Day of Week,Visitor,Visitor Division,Home,Home Division,Visitor Score,Home Score,Game Length (outs),Day or Night,...,Home Wild Pitches,Home Balks,Home Outs,Home Assists,Home Errors,Home Passed Balls,Home Double Plays,Home Triple Plays,Acquisition Info,Month
51,2009-04-10,Fri,PHI,NL,COL,NL,3,10,51,D,...,1,0,27,15,1,0,3,0,Y,2009-04-01
66,2009-04-11,Sat,PHI,NL,COL,NL,8,4,54,N,...,0,0,27,6,0,0,0,0,Y,2009-04-01
81,2009-04-12,Sun,PHI,NL,COL,NL,7,5,54,D,...,0,0,27,13,0,0,3,0,Y,2009-04-01
229,2009-04-24,Fri,LAN,NL,COL,NL,6,5,54,N,...,1,0,27,12,0,0,2,0,Y,2009-04-01
244,2009-04-25,Sat,LAN,NL,COL,NL,6,5,54,N,...,0,0,27,6,0,0,0,0,Y,2009-04-01

In [17]:
April2009 = W.loc[W.Month=="2009-04-01",]
May2009= W.loc[W.Month=="2009-05-01",]
June2009= W.loc[W.Month=="2009-06-01",]
July2009= W.loc[W.Month=="2009-07-01",]
August2009= W.loc[W.Month=="2009-08-01",]
September2009 = W.loc[W.Month=="2009-09-01",]
October2009 = W.loc[W.Month=="2009-10-01",]

April2010 = W.loc[W.Month=="2010-04-01",]
May2010= W.loc[W.Month=="2010-05-01",]
June2010= W.loc[W.Month=="2010-06-01",]
July2010= W.loc[W.Month=="2010-07-01",]
August2010= W.loc[W.Month=="2010-08-01",]
September2010 = W.loc[W.Month=="2010-09-01",]
October2010 = W.loc[W.Month=="2010-10-01",]

April2011 = W.loc[W.Month=="2011-04-01",]
May2011= W.loc[W.Month=="2011-05-01",]
June2011= W.loc[W.Month=="2011-06-01",]
July2011= W.loc[W.Month=="2011-07-01",]
August2011= W.loc[W.Month=="2011-08-01",]
September2011 = W.loc[W.Month=="2011-09-01",]
October2011 = W.loc[W.Month=="2011-10-01",]

April2012 = W.loc[W.Month=="2012-04-01",]
May2012= W.loc[W.Month=="2012-05-01",]
June2012= W.loc[W.Month=="2012-06-01",]
July2012= W.loc[W.Month=="2012-07-01",]
August2012= W.loc[W.Month=="2012-08-01",]
September2012 = W.loc[W.Month=="2012-09-01",]
October2012 = W.loc[W.Month=="2012-10-01",]

April2013 = W.loc[W.Month=="2013-04-01",]
May2013= W.loc[W.Month=="2013-05-01",]
June2013= W.loc[W.Month=="2013-06-01",]
July2013= W.loc[W.Month=="2013-07-01",]
August2013= W.loc[W.Month=="2013-08-01",]
September2013 = W.loc[W.Month=="2013-09-01",]
October2013 = W.loc[W.Month=="2013-10-01",]

April2014 = W.loc[W.Month=="2014-04-01",]
May2014= W.loc[W.Month=="2014-05-01",]
June2014= W.loc[W.Month=="2014-06-01",]
July2014= W.loc[W.Month=="2014-07-01",]
August2014= W.loc[W.Month=="2014-08-01",]
September2014 = W.loc[W.Month=="2014-09-01",]
October2014 = W.loc[W.Month=="2014-10-01",]

April2015 = W.loc[W.Month=="2015-04-01",]
May2015= W.loc[W.Month=="2015-05-01",]
June2015= W.loc[W.Month=="2015-06-01",]
July2015= W.loc[W.Month=="2015-07-01",]
August2015= W.loc[W.Month=="2015-08-01",]
September2015 = W.loc[W.Month=="2015-09-01",]
October2015 = W.loc[W.Month=="2015-10-01",]

April2016 = W.loc[W.Month=="2016-04-01",]
May2016= W.loc[W.Month=="2016-05-01",]
June2016= W.loc[W.Month=="2016-06-01",]
July2016= W.loc[W.Month=="2016-07-01",]
August2016= W.loc[W.Month=="2016-08-01",]
September2016 = W.loc[W.Month=="2016-09-01",]
October2016 = W.loc[W.Month=="2016-10-01",]

April2017 = W.loc[W.Month=="2017-04-01",]
May2017= W.loc[W.Month=="2017-05-01",]
June2017= W.loc[W.Month=="2017-06-01",]
July2017= W.loc[W.Month=="2017-07-01",]
August2017= W.loc[W.Month=="2017-08-01",]
September2017 = W.loc[W.Month=="2017-09-01",]
October2017 = W.loc[W.Month=="2017-10-01",]

April2018 = W.loc[W.Month=="2018-04-01",]
May2018= W.loc[W.Month=="2018-05-01",]
June2018= W.loc[W.Month=="2018-06-01",]
July2018= W.loc[W.Month=="2018-07-01",]
August2018= W.loc[W.Month=="2018-08-01",]
September2018 = W.loc[W.Month=="2018-09-01",]
October2018 = W.loc[W.Month=="2018-10-01",]

In [18]:
COL.head()

,Date,Day of Week,Visitor,Visitor Division,Home,Home Division,Visitor Score,Home Score,Game Length (outs),Day or Night,...,Home Wild Pitches,Home Balks,Home Outs,Home Assists,Home Errors,Home Passed Balls,Home Double Plays,Home Triple Plays,Acquisition Info,Month
51,2009-04-10,Fri,PHI,NL,COL,NL,3,10,51,D,...,1,0,27,15,1,0,3,0,Y,2009-04-01
66,2009-04-11,Sat,PHI,NL,COL,NL,8,4,54,N,...,0,0,27,6,0,0,0,0,Y,2009-04-01
81,2009-04-12,Sun,PHI,NL,COL,NL,7,5,54,D,...,0,0,27,13,0,0,3,0,Y,2009-04-01
229,2009-04-24,Fri,LAN,NL,COL,NL,6,5,54,N,...,1,0,27,12,0,0,2,0,Y,2009-04-01
244,2009-04-25,Sat,LAN,NL,COL,NL,6,5,54,N,...,0,0,27,6,0,0,0,0,Y,2009-04-01

In [19]:
April2009B = COL.loc[COL.Month=="2009-04-01",]
May2009B= COL.loc[COL.Month=="2009-05-01",]
June2009B= COL.loc[COL.Month=="2009-06-01",]
July2009B= COL.loc[COL.Month=="2009-07-01",]
August2009B= COL.loc[COL.Month=="2009-08-01",]
September2009B = COL.loc[COL.Month=="2009-09-01",]
October2009B = COL.loc[COL.Month=="2009-10-01",]

April2010B = COL.loc[COL.Month=="2010-04-01",]
May2010B= COL.loc[COL.Month=="2010-05-01",]
June2010B= COL.loc[COL.Month=="2010-06-01",]
July2010B= COL.loc[COL.Month=="2010-07-01",]
August2010B= COL.loc[COL.Month=="2010-08-01",]
September2010B = COL.loc[COL.Month=="2010-09-01",]
October2010B = COL.loc[COL.Month=="2010-10-01",]

April2011B = COL.loc[COL.Month=="2011-04-01",]
May2011B= COL.loc[COL.Month=="2011-05-01",]
June2011B= COL.loc[COL.Month=="2011-06-01",]
July2011B= COL.loc[COL.Month=="2011-07-01",]
August2011B= COL.loc[COL.Month=="2011-08-01",]
September2011B = COL.loc[COL.Month=="2011-09-01",]
October2011B = COL.loc[COL.Month=="2011-10-01",]

April2012B = COL.loc[COL.Month=="2012-04-01",]
May2012B= COL.loc[COL.Month=="2012-05-01",]
June2012B= COL.loc[COL.Month=="2012-06-01",]
July2012B= COL.loc[COL.Month=="2012-07-01",]
August2012B= COL.loc[COL.Month=="2012-08-01",]
September2012B = COL.loc[COL.Month=="2012-09-01",]
October2012B = COL.loc[COL.Month=="2012-10-01",]

April2013B = COL.loc[COL.Month=="2013-04-01",]
May2013B= COL.loc[COL.Month=="2013-05-01",]
June2013B= COL.loc[COL.Month=="2013-06-01",]
July2013B= COL.loc[COL.Month=="2013-07-01",]
August2013B= COL.loc[COL.Month=="2013-08-01",]
September2013B = COL.loc[COL.Month=="2013-09-01",]
October2013B = COL.loc[COL.Month=="2013-10-01",]

April2014B = COL.loc[COL.Month=="2014-04-01",]
May2014B= COL.loc[COL.Month=="2014-05-01",]
June2014B= COL.loc[COL.Month=="2014-06-01",]
July2014B= COL.loc[COL.Month=="2014-07-01",]
August2014B= COL.loc[COL.Month=="2014-08-01",]
September2014B = COL.loc[COL.Month=="2014-09-01",]
October2014B = COL.loc[COL.Month=="2014-10-01",]

April2015B = COL.loc[COL.Month=="2015-04-01",]
May2015B= COL.loc[COL.Month=="2015-05-01",]
June2015B= COL.loc[COL.Month=="2015-06-01",]
July2015B= COL.loc[COL.Month=="2015-07-01",]
August2015B= COL.loc[COL.Month=="2015-08-01",]
September2015B = COL.loc[COL.Month=="2015-09-01",]
October2015B = COL.loc[COL.Month=="2015-10-01",]

April2016B = COL.loc[COL.Month=="2016-04-01",]
May2016B= COL.loc[COL.Month=="2016-05-01",]
June2016B= COL.loc[COL.Month=="2016-06-01",]
July2016B= COL.loc[COL.Month=="2016-07-01",]
August2016B= COL.loc[COL.Month=="2016-08-01",]
September2016B = COL.loc[COL.Month=="2016-09-01",]
October2016B = COL.loc[COL.Month=="2016-10-01",]

April2017B = COL.loc[COL.Month=="2017-04-01",]
May2017B= COL.loc[COL.Month=="2017-05-01",]
June2017B= COL.loc[COL.Month=="2017-06-01",]
July2017B= COL.loc[COL.Month=="2017-07-01",]
August2017B= COL.loc[COL.Month=="2017-08-01",]
September2017B = COL.loc[COL.Month=="2017-09-01",]
October2017B = COL.loc[COL.Month=="2017-10-01",]

April2018B = COL.loc[COL.Month=="2018-04-01",]
May2018B= COL.loc[COL.Month=="2018-05-01",]
June2018B= COL.loc[COL.Month=="2018-06-01",]
July2018B= COL.loc[COL.Month=="2018-07-01",]
August2018B= COL.loc[COL.Month=="2018-08-01",]
September2018B = COL.loc[COL.Month=="2018-09-01",]
October2018B = COL.loc[COL.Month=="2018-10-01",]

In [21]:
April2018B

,Date,Day of Week,Visitor,Visitor Division,Home,Home Division,Visitor Score,Home Score,Game Length (outs),Day or Night,...,Home Wild Pitches,Home Balks,Home Outs,Home Assists,Home Errors,Home Passed Balls,Home Double Plays,Home Triple Plays,Acquisition Info,Month
21965,2018-04-06,Fri,ATL,NL,COL,NL,8,3,54,D,...,0,0,27,12,0,0,1,0,NaN,2018-04-01
21973,2018-04-07,Sat,ATL,NL,COL,NL,2,3,59,N,...,0,0,30,14,1,0,3,0,NaN,2018-04-01
21988,2018-04-08,Sun,ATL,NL,COL,NL,4,0,54,D,...,0,0,27,11,0,0,1,0,NaN,2018-04-01
22002,2018-04-09,Mon,SDN,NL,COL,NL,7,6,54,N,...,1,0,27,12,0,0,1,0,NaN,2018-04-01
22015,2018-04-10,Tue,SDN,NL,COL,NL,5,2,54,N,...,0,0,27,7,0,0,1,0,NaN,2018-04-01
22030,2018-04-11,Wed,SDN,NL,COL,NL,4,6,51,D,...,0,0,27,11,0,1,0,0,NaN,2018-04-01
22137,2018-04-20,Fri,CHN,NL,COL,NL,16,5,54,N,...,3,0,27,15,2,0,2,0,NaN,2018-04-01
22153,2018-04-21,Sat,CHN,NL,COL,NL,2,5,51,N,...,0,0,27,11,0,1,2,0,NaN,2018-04-01
22167,2018-04-22,Sun,CHN,NL,COL,NL,9,7,54,D,...,0,0,27,6,0,0,0,0,NaN,2018-04-01
22181,2018-04-23,Mon,SDN,NL,COL,NL,13,5,54,N,...,0,1,27,11,0,0,0,0,NaN,2018-04-01
22190,2018-04-24,Tue,SDN,NL,COL,NL,0,8,51,N,...,0,0,27,9,0,0,1,0,NaN,2018-04-01
22203,2018-04-25,Wed,SDN,NL,COL,NL,2,5,51,D,...,3,0,27,8,0,0,0,0,NaN,2018-04-01